//   {
//     "env": {
//         "browser": true,
//         "commonjs": true,
//         "es2021": true,
//         "node": true,
//         "react-native/react-native": true
//     },
//     "extends": [
//         "airbnb"
//     ],
//     "settings": {
//         "import/resolver": {
//           "node": {
//             "paths": ["src"],
//             "extensions": [".js", ".ios.js", ".android.js", ".jsx", ".ts", ".tsx"]
//           }
//         }
//     },
//     "parserOptions": {
//       "ecmaVersion": 13
//     },
//     "rules": {
//         "jsx": "react-jsx",
//         "import/extensions": [0, "never"],
//         "no-restricted-exports": [0, "never"],
//         "no-underscore-dangle": [0, "never"],
//         "react/jsx-props-no-spreading": [0, "never"],
//         "arrow-body-style": [0, "never"],
//         "react/function-component-definition": [
//             2,
//             {
//                 "namedComponents": "arrow-function",
//                 "unnamedComponents": "arrow-function"
//             }
//         ],
//         "no-param-reassign": [0, "never"],
//         "react/style-prop-object": ["enabled", {
//           "allow": ["string"]
//         }],
//         "react/jsx-one-expression-per-line": [0, "never"],
//         "linebreak-style": ["off"],
//         "implicit-arrow-linebreak": [0, "never"],
//         "no-undef": ["error"],
//         "react/sort-comp": ["off"],
//         "react/prefer-stateless-function": ["off"],
//         "react/destructuring-assignment": 1,
//         "function-paren-newline": [0, "never"],
//         "spaced-comment": [0, "never"],
//         "react/prop-types": [0, "never"],
//         "no-extra-boolean-cast": [0, "never"],
//         "quote-props": [0, "never"],
//         "object-curly-spacing": ["error", "always"],
//         "camelcase": [0, "never"],
//         "no-nested-ternary": [0, "never"],
//         "react/jsx-wrap-multilines": [0, "never"],
//         "object-curly-newline": [0, "never"],
//         "operator-linebreak": [0, "never"],
//         "no-unused-expressions": [0, "never"],
//         "max-len": [0, "never"],
//         "import/no-cycle": [0, "never"],
//         "no-return-assign": [0, "never"],
//         "jsx-quotes": ["error", "prefer-double"],
//         "no-console": "warn",
//         "arrow-parens": [0, "never"],
//         "eol-last": [0, "never"],
        // "react-native/no-unused-styles": [0, "never"],
        // "react-native/split-platform-components": [0, "never"],
        // "react-native/no-inline-styles": [0, "never"],
        // "react-native/no-color-literals": [0, "never"],
        // "react-native/no-raw-text": [0, "never"],
//         "consistent-return": [0, "never"]
//     }
// }

{
  "env": {
      "browser": true,
      "commonjs": true,
      "es2021": true,
      "node": true,
  },
  "extends": [
      "airbnb"
  ],
  "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"],
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      }
  },
  "parserOptions": {
      "ecmaVersion": 13
  },
  "rules": {
      "import/extensions": [0, "never"],
      "no-restricted-exports": [0, "never"],
      "no-underscore-dangle": [0, "never"],
      "react/jsx-props-no-spreading": [0, "never"],
      "arrow-body-style": [0, "never"],
      "react/function-component-definition": [
          2,
          {
              "namedComponents": "arrow-function",
              "unnamedComponents": "arrow-function"
          }
      ],
      "react/style-prop-object": [0, "never"],
      "react-native/no-unused-styles": [0, "never"],
      "react-native/split-platform-components": [0, "never"],
      "react-native/no-inline-styles": [0, "never"],
      "react-native/no-color-literals": [0, "never"],
      "react-native/no-raw-text": [0, "never"],
  }
}